<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../Style/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
<header class="header">
    <div class="logo">
        <h2>3TD</h2>
        <p>3TD.COM</p>
    </div>
    <div class="menu-container">
        <button class="menu-toggle" id="menuToggle"><i class='bx bx-menu'></i> Danh mục</button>
        <ul class="menu" id="menuList">
            <li><i class='bx bx-keyboard'></i> Bàn phím <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-mouse'></i> Chuột + Lót chuột <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-headphone'></i> Tai Nghe <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-chip'></i> Main, CPU, VGA <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-desktop'></i> Case, Nguồn, Tản <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-hdd'></i> Ổ cứng, RAM, Thẻ nhớ <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-volume-full'></i> Loa, Micro, Webcam <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-tv'></i> Màn hình <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-chair'></i> Ghế - Bàn <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-globe'></i> Phần mềm, mạng <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-game'></i> Handheld, Console <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-plug'></i> Phụ kiện (Hub, sạc, cáp..) <i class='bx bx-chevron-right'></i></li>
            <li><i class='bx bx-box'></i> Dịch vụ và thông tin khác <i class='bx bx-chevron-right'></i></li>
        </ul>

    </div>
    <div class="search-bar">
        <input type="text" placeholder="Bạn cần tìm gì?">
        <button><i class='bx bx-search'></i></button>
    </div>
    <div class="contact-info">
        <span><i class='bx bx-phone'></i> Hotline 1900.5301</span>
        <span><i class='bx bx-map'></i> Hệ thống Showroom</span>
        <span><i class='bx bx-receipt'></i> Tra cứu đơn hàng</span>
    </div>
    <div class="user-actions">
        <span><i class='bx bx-cart'></i> Giỏ hàng</span>
        <span id="loginBtn">
    <i class='bx bx-user'></i> Đăng nhập
</span>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("loginBtn").addEventListener("click", function () {
                    window.location.href = "../Layout/authlogin.html";
                });
            });
        </script>


    </div>
    <script src="/FN_Web-frontend-team/Script/menu.js" defer></script>

</header>
</body>
</html>
