<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maincontent</title>
    <link rel="stylesheet" href="../HTML/Style/style.css">
</head>
<body>

<main class="main-content">
    <section class="product-list">
        <div class="product-">
            <h2>Sản phẩm mới</h2>
            <div class="product-grid">
                <div class="product-item">
                    <img src="#" alt="Chuột 1">
                    <p>Item1</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 2">
                    <p>Item2</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 3">
                    <p>Item3</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 4">
                    <p>Item4</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 1">
                    <p>Item1</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 1">
                    <p>Item1</p>
                    <p><strong>Price</strong></p>
                </div>
            </div>

        </div>
        <div class="product-">
            <h2>Sản phẩm mới</h2>
            <div class="product-grid">
                <div class="product-item">
                    <img src="#" alt="Chuột 1">
                    <p>Item1</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="anhloginmoi.jpg" alt="Chuột 2">
                    <p>Item2</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 3">
                    <p>Item3</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 4">
                    <p>Item4</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 1">
                    <p>Item1</p>
                    <p><strong>Price</strong></p>
                </div>
                <div class="product-item">
                    <img src="#" alt="Chuột 1">
                    <p>Item1</p>
                    <p><strong>Price</strong></p>
                </div>
            </div>

        </div>

    </section>
</main>
</body>
</html>
